<header class="site-header">
<div class="header-inner">
<a class="brand" href="../index.html">Разные люди</a>
<nav class="main-nav">
<div class="nav-item">Команда
<div class="dropdown">
<a href="../pages/team.html">Бойцы</a>
<a href="../pages/team.html">Роли</a>
</div>
</div>
<div class="nav-item">События
<div class="dropdown">
<a href="../pages/events.html">Мероприятия</a>
<a href="../pages/journal.html">Журнал</a>
</div>
</div>
<div class="nav-item">Подготовка
<div class="dropdown">
<a href="../pages/gear.html">Снаряжение</a>
<a href="../pages/join.html">Вступление</a>
</div>
</div>
<a class="nav-item" href="../pages/profile.html">Кабинет</a>
</nav>
</div>
</header>
