<header class="site-nav">
 <div class="site-nav-inner">
  <a href="/index.html">Разные люди</a>
  <ul class="nav-menu">
   <li class="nav-item"><a href="/pages/team.html">Команда</a></li>
   <li class="nav-item"><a href="/pages/events.html">Мероприятия</a>
    <div class="dropdown">
     <a href="/pages/events.html">Ближайшие игры</a>
     <a href="/pages/journal.html">Боевой журнал</a>
    </div>
   </li>
   <li class="nav-item"><a href="/pages/join.html">Вступление</a></li>
   <li class="nav-item"><a href="/pages/profile.html">Кабинет</a></li>
  </ul>
 </div>
</header>
